@{
    ViewBag.Title = "Esqueceu sua senha confirmação";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail para redefinir sua senha.
    </p>
    <p class="text-danger">

        Apenas para demonstração: Você pode clicar neste link para redefinir a
        senha: <a href="@ViewBag.Link">link</a>. Por favor, altere este
        código para registrar um serviço de e-mail no IdentityConfig para enviar um e-mail.
    </p>
</div>

