@{
    ViewBag.Title = "Demonstração do link enviado para o Email";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor, verifique seu e-mail e confirme o seu endereço de e-mail.
</p>
<p class="text-danger">
    Por apenas demonstração: Você pode clicar nesse link para confirmar o e-mail: <a href="@ViewBag.Link">link</a>.
    Por favor, altere este código para registrar um serviço de e-mail no IdentityConfig para enviar um e-mail.
</p>
